<header class="header-primary">
    <div class="header-container">
        <div class="header-logo">
            <h2>
                <a href="/" class="header-logo-link">TravelLux in Symfony</a>
            </h2>
            {# or page title via {{ pageAsset.page.title }} #}
        </div>
        <div class="header-nav">
            {% include 'dotcms/components/navigation.twig' with { 'navigation': navigation } %}
        </div>
    </div>
</header>