<header class="container">
    <div class="grid">
        <div>
            <h1>{{ pageAsset.page.title }}</h1>
        </div>
        <div>
            {% include 'dotcms/components/navigation.twig' with { 'navigation': navigation } %}
        </div>
    </div>
</header>