<header class="container">
    <div class="grid">
        <div>
            <h1><a href="/" style="text-decoration:none; color:inherit;">TravelLux in Symfony</a></h1>
            {# or page title via {{ pageAsset.page.title }} #}
        </div>
        <div>
            {% include 'dotcms/components/navigation.twig' with { 'navigation': navigation } %}
        </div>
    </div>
</header>